<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    <add key="trifork-github" value="https://nuget.pkg.github.com/trifork/index.json" />
  </packageSources>
<packageSourceCredentials>
      <trifork-github>
        <add key="Username" value="%GITHUB_ACTOR%" />
        <add key="ClearTextPassword" value="%GITHUB_TOKEN%" />
      </trifork-github>
    </packageSourceCredentials>
</configuration>